/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   !!! !!! !!! AUTHOR'S CUSTOM STYLES !!! !!! !!!
   ========================================================================== */
   
div {
   outline: 1px;
   outline-style: dotted;
   background: rgba(255, 191, 202, 0.38);
}

/* ===================================================================
    text styling 
   ===================================================================*/




/* === general text styling === */
html,
body {
    font-size: 16px;
    line-height: 24px;
}
p,
ul,
ol,
dl {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
    font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 12px;
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 30px;
}
/* === END general text styling === */





/* === header styling === */

.logo-text {
  margin-top: -15px;
}

.loc-address {
  font-size: 12px;
  line-height: 18.5px;
  margin-top: 10px;
}
.loc-phone {
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 2.7px;
}
.open-butcher {
  font-size: 12px;
  margin-top: 6px;
  font-weight: 900;
}
.open-restaurant {
  font-size: 12px;
  margin-top: 12px;
}
.open-date {
  font-size: 12px;
  line-height: 4px;
  margin-top: 0;
  font-weight: 400;
  font-style: italic;
}
.open-time {
  font-size: 12px;
  line-height: 4px;
  margin-top: 0;
}
/* === END header styling === */





/* === about styling === */

.about-us{
  margin-top: 10px;
}

.about-head {
  font-size: 19.4px;
  text-decoration: line-through;
}

.about-text {
  font-size: 19.4px;
  padding-left: 31.4px;
}

/* === END about styling === */





/* === menu nav styling === */
.food-container,
.drink-container {
  float: left;
}

.label {
  font-size: 18.5px;
  text-decoration: line-through;
}

.navigation ul {
  padding-left: 10px;
}

#food{
  float:none;
  display: block;
}

#food li a:link,
li a:visited {/*
  float: none;*/
  width: 160px;
  height: 40px;
  margin-bottom: 7.4px;
  font-size: 11.5px;
  text-decoration: none;
  color: white;
  background-color: black;
}

#drink li a:link,
li a:visited {/*
  float: none;*/
  width: 160px;
  height: 40px;
  margin-bottom: 7.4px;
  font-size: 11.5px;
  text-decoration: none;
  color: white;
  background-color: black;
}

/* === END menu nav styling === */





/* === menu font styling === */

.food-title {
  font-size: 18.5px;
  font-weight: 100;
  font-style: italic;
  text-transform: uppercase;
}

.drink-title {
  font-size: 18.5px;
  font-weight: 100;
  font-style: italic;
  text-transform: uppercase;
}

.section-title {
  font-size: 12px;
  text-decoration: line-through;
}

.item-name {
  font-size: 11.5px;
  padding-left: 10px;
  margin-top: 0;
  margin-bottom:0; 
}

.menu-desc {
  font-size: 11.5px;
  font-weight: 300;
  font-style: italic;
  padding-left: 10px;
  line-height: 13.5px;
  margin-top: 0;
  margin-bottom: 0;
}

.menu-price {
  font-size: 11.5px;
  font-weight: 300;
  padding-left: 10px;
  margin-top: 0;
}
/* === END menu font styling === */


/* ===================================================================
    END text styling 
   ===================================================================*/

/* ===================================================================
    div styling 
   ===================================================================*/


/* === image styling === */
.img{
    height: 340px;
    margin-top:  0px;
}

/* === image font styling === */


.food {
  width: 160px;
  float:left;
}

.drinks {
  width: 160px;
  float: left;
  margin-left: 10px
}


.body {
  padding-left: 100px;
}

/* ============================================== 
   elements that need to be restyled for mobile 
   ============================================== */

@media only screen and (min-width: 450px) and (max-width: 800px) {
  .body {
    padding-left: 0px;
  }
  
  .about-us{
    padding-top: 10px;
  }
  
  .img {
    visibility: hidden;
  }
  
  .food-container {
    margin-top: -380px;
  }

  .drink-container {
    margin-top: -380px;
  }

  #nav-up {
    position: fixed;
    bottom: 10px;
    right: 300px;
  }



}

@media only screen and (min-width: 0px) and (max-width: 450px) {
  .body {
    width: 200px;
    margin-left: 0px;
  }
   
.food {
    width: 150px;
    float: none;
  }

  .drinks {
    width: 150px;
    float: none;
  }  

   .about-us,
   #about-us-id{
     padding-top: 30px;
     margin-left: -20px;
     width: 120px;
   }

  #nav-up {
  position: fixed;
  bottom: 10px;
  right: auto;
  }    

  .img {
    visibility: hidden;
  }

  .food-container {
    margin-top: -380px;
  }

}

/* === END elements that need to be restyled for mobile === */

.container .container-wrap {
   float: none;
   display: block;
   margin-right: auto;
   margin-left: auto;
   height: auto;
   margin-top: 36px;   
}

.header { 
   height: 253px;
   width: auto;
 }

.body {
   height: auto;
   margin-top: auto;
   float: none;
   margin-right: auto;
   margin-left: auto;
}


.about-us {
    height:340px;
}


ul, a {
    display: inline-block;
    list-style-type: none;
    float: left;
}

.food .alpha .drinks .omega {
    display: inline;
    float: none;
    width: auto;
    margin: auto;
}





/* === logo styling === */
.logo {
   height: auto;
}
.logo-img{
   margin-top: 0;
   display: block;
   width: 160px;
   height: 250px;
   overflow: hidden;
   background: url(../img/p_l_logo.jpg) left top no-repeat;
   background-size: cover;
}
/* === END logo styling === */





/* === arrow-styling === */
#nav-up {
  position: fixed;
  bottom: 10px;
  right: 610px;
  width: 40px;
  height: 40px;
  background: url(../img/up-black.png) left top no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity .3s linear;
          transition: opacity .3s linear;
}

#nav-up.is-visible {
  opacity: 1;
}

/* === END arrow-styling === */

/* ===================================================================
    END div styling 
   ===================================================================*/


/* ===================================================================
    info nav styling 
   ===================================================================*/

.nav{
    list-style: none;
}

.nav,
.nav > li {
    display: inline-block;
    padding: 0;
    margin: 0;
}


.masthead-social,
#social {
    text-align: left;
    margin-top: 10px;
    margin-left: -3px;
}

.masthead-social li {
    float: left;
}

.masthead-social a {
    overflow: auto;
    display: inline;
    width: 22px;
    height: 22px;
    background-image: url(../img/sprites.png);
    background-repeat: no-repeat
}

.social-facebook {
    background-size:78px;
}

.social-twitter {
    background-size:78px;
    background-position: -55px 0;
    margin-right: 8px;
}

.social-instagram {
    background-size:78px;
    background-position: -27px 0;
}

/* ===============================================================
    END info nav styling 
   ===============================================================*/

/*===========================================================================
    !!! !!! !!! END AUTHOR STYLING !!! !!! !!!
 ============================================================================ */





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
